@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  min-height: 60vh;
}

.login-component {
  border: 1px solid gainsboro;
  padding: 40px;
}

.login-title {
  font-family: "Lobster Two", cursive;
  font-size: 60px;
  margin-top: 36px;
  margin-bottom: 12px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 40px 0;
}

.login-input {
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 258px;
  padding: 8px;
  font-size: 14px;
}

.login-input:focus {
}

#login-input-id {
}

#login-input-pw {
}

.login-button-wrapper {
  border: none;
  border-radius: 5px;
  margin: 8px 0;
  padding: 4px;
  background-color: #c4e1fb;
}

.login-button {
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #c4e1fb;
  cursor: not-allowed;
}

.find-password {
  font-size: 12px;
  font-weight: bold;
  color: #596c92;
}
